//let element being center
@mixin mix-transform($left:-50%,$top:-50%) {
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate($left,$top);
	-webkit-transform:translate($left,$top);
	-moz-transform:translate($left,$top);
	-o-transform:translate($left,$top);
}

//center block
.center{
	@include mix-transform;
	width: 200px;
	height: 200px;
}